.rectangle {
    margin-top: 2%;
    margin-left: 1%;
    width: 21%;
    height: 250px;
    background: white;
    border-color: rgb(206, 205, 205);
    border-width: 1px;
    border-style: solid;
    border-radius: 2%;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    z-index: 0;
}

.Bienvenue {
    text-align: center;
    font-size: xx-large;
    margin-top: 30px;
    font-weight: 500;
    font-family: 'Inria Sans';
    font-weight: bold;

}


.note_texte {
    margin-left: 5%;
    margin-top: 2%;
    resize: none;
    width: 90%;
}



.Ajouter {
    font-family: 'Inria Sans';
    background-color: #FED3D3;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    border: none;
    border-radius: 30px;
    margin-left: 2%;




}

.Ajouter:hover {
    background-color: #ffce8e;
    border: 3px solid black;
    font-style: italic;
}

.Afficher {
    font-family: 'Inria Sans';
    background-color: #fbaaaa;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    border: none;
    height: 10%;
    margin-top: 3%;
    margin-left: 2%;
}

.Afficher:hover {
    background-color: #ffce8e;
    border: 3px solid black;
    font-style: italic;
}

.Titre {
    font-family: 'Inria Sans';
    margin-left: 5px;
    margin-top: 10px;
    width: 96%;
    height: 25px;
    font-style: 'Inria Sans';
    border-radius: 40px;
    box-shadow: 1px 1px 1px 1px rgb(174, 174, 174);
    border: black;
    padding: 0px 20px;
    border-color: rgb(206, 205, 205);

}