.se_connecterboutton {
    background-color: #a7bbf6;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    border: none;
    border-color: rgb(206, 205, 205);
    border-radius: 30px;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Inria Sans';
    cursor: pointer;

}


.se_connecterboutton:hover {
    background-color: #bea6de;
    border: 3px solid black;
    font-style: italic;
    padding: 1px;


}



.PhotoArtiste {

    margin-left: 3%;
    margin-top: -43%;


}

.spotify {
    margin-left: 24%;
    margin-top: -250px;
    width: 31.5%;
    height: 250px;
    background: white;
    border-color: rgb(206, 205, 205);
    border-width: 1px;
    border-style: solid;
    border-radius: 2%;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    z-index: 0;
}

.bouton_recherche {

    background-color: #FED3D3;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    border: none;
    border-color: rgb(206, 205, 205);
    font-family: 'Inria Sans';
    color: black;
    width: 75px;
    height: 25%;
    padding: 0px 20px;
    margin-left: 2%;
    padding: 5px;
    cursor: pointer;

}

.bouton_recherche:hover {
    background-color: #ffce8e;
    border: 3px solid black;
    font-style: italic;
    padding: 1px;


}

.bouton_deconnexion {

    background-color: #a7bbf6;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    border: none;
    border-color: rgb(206, 205, 205);
    border-radius: 30px;
    color: black;
    width: 100px;
    height: 25px;
    padding: 0px 20px;
    margin-left: 2%;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Inria Sans';
    cursor: pointer;


}

.bouton_deconnexion:hover {
    background-color: #bea6de;
    border: 3px solid black;
    font-style: italic;
    padding: 1px;
}

.formulaire_recherche {

    width: 41%;
    height: 25px;
    border-radius: 40px;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    border: none;
    padding: 0px 20px;
    border-color: rgb(206, 205, 205);
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Inria Sans';

}



/* WIDGET DE LA PLAYLIST */


.widget_playlist {

    margin-left: 105%;
    margin-top: -70px;
    width: 67%;
    height: 250px;
    background: white;
    border-color: rgb(206, 205, 205);
    border-width: 1px;
    border-style: solid;
    border-radius: 2%;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    z-index: 0;


}

.playlist {
    margin-left: 3%;
    margin-top: 5%;
    background-color: #fbaaaa;
    box-shadow: 2px 2px 3px rgb(174, 174, 174);
    border: none;
    border-color: rgb(206, 205, 205);
    color: black;
    width: 75px;
    height: 25px;
    padding: 5px;
    font-family: 'Inria Sans';
    cursor: pointer;
}

.playlist:hover {
    background-color: #f072a0;
    border: 3px solid black;
    font-style: italic;
    padding: 1px;
}

.Affichage_Playlist {
    margin-top: 15px;
    font-size: small;
    margin-left: 10px;
    font-size: medium;
    font-family: 'Inria Sans';

}